:host /deep/ ng2-st-tbody-edit-delete {display: flex !important;
    height: 0 !important;
  }
  
  :host /deep/ ng2-st-tbody-custom {
    display: flex;
  }
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    text-align: center;
    font-size: 1.1em !important;
  }
  
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
  }