<!-- New Dashboard Start -->
<div class="page page-dashboard dashboar-landing">
    <div class="row">
      <!-- <div class="col-xxl-5"> -->
        <div class="col-xxxl-3 col-md-6">
          <nb-card>
            <nb-card-body class="d-flex select" (click)="router('users')">
              <div class="icon_container">
                <div class="icon status_primary">
                  <i class="nb-person"></i>
                </div>
              </div>
              <div class="describe">
                <div class="title h5">Users</div>
                <div class="status paragraph-2">{{userslength}}</div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
        <div class="col-xxxl-3 col-md-6">
          <nb-card>
            <nb-card-body class="d-flex select" (click)="router('posts')">
              <div class="icon_container">
                <div class="icon status_info">
                  <i class="nb-grid-a"></i>
                </div>
              </div>
              <div class="describe">
                <div class="title h5">Posts</div>
                <div class="status paragraph-2">{{postslength}}</div>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      <!-- </div> -->
    </div>
    <div class="row">
    <div class="col-xxl-7">
      <ngx-ecommerce-charts></ngx-ecommerce-charts>
    </div>
  </div>
</div>
